@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<ul>
    <li>Chung-Nam National University , B.M     S.KOREA</li>
    <li>Houston Graduate School of Theology, M.A.C.M    Texas. USA</li>
    <li>Southwestern Baptist Theological Seminary, M.Div  Texas. USA</li>
    <li>Southwestern Baptist Theological Seminary, D.Min Present.  Texas. USA</li>
    <li>Rising Man Concert Dae-Jeon Philharmonic Orchestra</li>
    <li>Opera ‘La Tosca’ G. Puccini Dae-Jeon Opera Company</li>
    <li>Opera ‘Il Barbiere Di Siviglia’ G.Rossini Dae-Jeon Opera Company</li>
    <li>Karis Mission Choir, Music Director</li>
</ul>
